In [1]:
import requests
import pandas as pd
import sqlite3
import lxml.html

In [2]:
r = requests.get("https://datatables.net/examples/data_sources/dom")

In [3]:
html               = lxml.html.fromstring(r.text)
sampledata_table   = html.get_element_by_id("example")
table_body         = sampledata_table.getchildren()[1]

In [4]:
sampledata_table.getchildren()[0]

In [5]:
sampledata_table.getchildren()[1]

In [6]:
sampledata_table.getchildren()[2]

In [7]:
table_body.getchildren()[0].text_content()

'\n\t\t\t\t\t\t\t\tTiger Nixon\n\t\t\t\t\t\t\t\tSystem Architect\n\t\t\t\t\t\t\t\tEdinburgh\n\t\t\t\t\t\t\t\t61\n\t\t\t\t\t\t\t\t2011/04/25\n\t\t\t\t\t\t\t\t$320,800\n\t\t\t\t\t\t\t'

In [8]:
data = {
    "name": [],
    "position": [],
    "office": [],
    "age": [],
    "start_date": [],
    "salary": []
}

for row in table_body.getchildren():
    cells = row.getchildren()
    data["name"].append(cells[0].text_content().strip())
    data["position"].append(cells[1].text_content().strip())
    data["office"].append(cells[2].text_content().strip())
    data["age"].append(cells[3].text_content().strip())
    data["start_date"].append(cells[4].text_content().strip())
    data["salary"].append(cells[5].text_content().strip())

df = pd.DataFrame(data)

In [9]:
df[df.columns[5:]] = df[df.columns[5:]].replace('[\$,]', '', regex=True).astype(float)
gt_200k_employees = df[df.salary > 200000]
for row in gt_200k_employees.itertuples():
    print(row)

Pandas(Index=0, name='Tiger Nixon', position='System Architect', office='Edinburgh', age='61', start_date='2011/04/25', salary=320800.0)
Pandas(Index=3, name='Cedric Kelly', position='Senior Javascript Developer', office='Edinburgh', age='22', start_date='2012/03/29', salary=433060.0)
Pandas(Index=5, name='Brielle Williamson', position='Integration Specialist', office='New York', age='61', start_date='2012/12/02', salary=372000.0)
Pandas(Index=7, name='Rhona Davidson', position='Integration Specialist', office='Tokyo', age='55', start_date='2010/10/14', salary=327900.0)
Pandas(Index=8, name='Colleen Hurst', position='Javascript Developer', office='San Francisco', age='39', start_date='2009/09/15', salary=205500.0)
Pandas(Index=11, name='Quinn Flynn', position='Support Lead', office='Edinburgh', age='22', start_date='2013/03/03', salary=342000.0)
Pandas(Index=12, name='Charde Marshall', position='Regional Director', office='San Francisco', age='36', start_date='2008/10/16', salary=470600.0)
Pandas(Index=13, name='Haley Kennedy', position='Senior Marketing Designer', office='London', age='43', start_date='2012/12/18', salary=313500.0)
Pandas(Index=14, name='Tatyana Fitzpatrick', position='Regional Director', office='London', age='19', start_date='2010/03/17', salary=385750.0)
Pandas(Index=16, name='Paul Byrd', position='Chief Financial Officer (CFO)', office='New York', age='64', start_date='2010/06/09', salary=725000.0)
Pandas(Index=17, name='Gloria Little', position='Systems Administrator', office='New York', age='59', start_date='2009/04/10', salary=237500.0)
Pandas(Index=19, name='Dai Rios', position='Personnel Lead', office='Edinburgh', age='35', start_date='2012/09/26', salary=217500.0)
Pandas(Index=20, name='Jenette Caldwell', position='Development Lead', office='New York', age='30', start_date='2011/09/03', salary=345000.0)
Pandas(Index=21, name='Yuri Berry', position='Chief Marketing Officer (CMO)', office='New York', age='40', start_date='2009/06/25', salary=675000.0)
Pandas(Index=24, name='Angelica Ramos', position='Chief Executive Officer (CEO)', office='London', age='47', start_date='2009/10/09', salary=1200000.0)
Pandas(Index=26, name='Jennifer Chang', position='Regional Director', office='Singapore', age='28', start_date='2010/11/14', salary=357650.0)
Pandas(Index=27, name='Brenden Wagner', position='Software Engineer', office='San Francisco', age='28', start_date='2011/06/07', salary=206850.0)
Pandas(Index=28, name='Fiona Green', position='Chief Operating Officer (COO)', office='San Francisco', age='48', start_date='2010/03/11', salary=850000.0)
Pandas(Index=33, name='Gavin Cortez', position='Team Leader', office='San Francisco', age='22', start_date='2008/10/26', salary=235500.0)
Pandas(Index=34, name='Martena Mccray', position='Post-Sales support', office='Edinburgh', age='46', start_date='2011/03/09', salary=324050.0)
Pandas(Index=38, name='Vivian Harrell', position='Financial Controller', office='San Francisco', age='62', start_date='2009/02/14', salary=452500.0)
Pandas(Index=40, name='Jackson Bradshaw', position='Director', office='New York', age='65', start_date='2008/09/26', salary=645750.0)
Pandas(Index=41, name='Olivia Liang', position='Support Engineer', office='Singapore', age='64', start_date='2011/02/03', salary=234500.0)
Pandas(Index=51, name='Hermione Butler', position='Regional Director', office='London', age='47', start_date='2011/03/21', salary=356250.0)

In [10]:
db = sqlite3.connect(":memory:")
cursor = db.cursor()
cursor.execute("""
    CREATE TABLE EMPLOYEES_200K(NAME, POSITION, OFFICE, AGE, START_DATE, SALARY)
""")

for row in gt_200k_employees.itertuples():
    insert_sql_syntax = """
        INSERT INTO EMPLOYEES_200K(NAME, POSITION, OFFICE, AGE, START_DATE, SALARY)
        VALUES (?,?,?,?,?,?)
    """
    cursor.execute(insert_sql_syntax, row[1:])

db.commit()

#db.close()

In [11]:
for row in cursor.execute("""
    SELECT * FROM EMPLOYEES_200K
"""):
    print(row)

('Tiger Nixon', 'System Architect', 'Edinburgh', '61', '2011/04/25', 320800.0)
('Cedric Kelly', 'Senior Javascript Developer', 'Edinburgh', '22', '2012/03/29', 433060.0)
('Brielle Williamson', 'Integration Specialist', 'New York', '61', '2012/12/02', 372000.0)
('Rhona Davidson', 'Integration Specialist', 'Tokyo', '55', '2010/10/14', 327900.0)
('Colleen Hurst', 'Javascript Developer', 'San Francisco', '39', '2009/09/15', 205500.0)
('Quinn Flynn', 'Support Lead', 'Edinburgh', '22', '2013/03/03', 342000.0)
('Charde Marshall', 'Regional Director', 'San Francisco', '36', '2008/10/16', 470600.0)
('Haley Kennedy', 'Senior Marketing Designer', 'London', '43', '2012/12/18', 313500.0)
('Tatyana Fitzpatrick', 'Regional Director', 'London', '19', '2010/03/17', 385750.0)
('Paul Byrd', 'Chief Financial Officer (CFO)', 'New York', '64', '2010/06/09', 725000.0)
('Gloria Little', 'Systems Administrator', 'New York', '59', '2009/04/10', 237500.0)
('Dai Rios', 'Personnel Lead', 'Edinburgh', '35', '2012/09/26', 217500.0)
('Jenette Caldwell', 'Development Lead', 'New York', '30', '2011/09/03', 345000.0)
('Yuri Berry', 'Chief Marketing Officer (CMO)', 'New York', '40', '2009/06/25', 675000.0)
('Angelica Ramos', 'Chief Executive Officer (CEO)', 'London', '47', '2009/10/09', 1200000.0)
('Jennifer Chang', 'Regional Director', 'Singapore', '28', '2010/11/14', 357650.0)
('Brenden Wagner', 'Software Engineer', 'San Francisco', '28', '2011/06/07', 206850.0)
('Fiona Green', 'Chief Operating Officer (COO)', 'San Francisco', '48', '2010/03/11', 850000.0)
('Gavin Cortez', 'Team Leader', 'San Francisco', '22', '2008/10/26', 235500.0)
('Martena Mccray', 'Post-Sales support', 'Edinburgh', '46', '2011/03/09', 324050.0)
('Vivian Harrell', 'Financial Controller', 'San Francisco', '62', '2009/02/14', 452500.0)
('Jackson Bradshaw', 'Director', 'New York', '65', '2008/09/26', 645750.0)
('Olivia Liang', 'Support Engineer', 'Singapore', '64', '2011/02/03', 234500.0)
('Hermione Butler', 'Regional Director', 'London', '47', '2011/03/21', 356250.0)